# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class



# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit tests / coverage reports
.tox/
.nox/
.coverage
.coverage.*
.cache
*.py,cover
.hypothesis/
.pytest_cache/

# pyenv
.python-version

# Environments
.venv
venv/


#PyCharm IDE
.idea
.idea/
idea/